ALTER TABLE stores ADD COLUMN IF NOT EXISTS header_logo_text TEXT DEFAULT 'Yu.', ADD COLUMN IF NOT EXISTS header_logo_size INTEGER DEFAULT 32;
ALTER TABLE stores ADD COLUMN IF NOT EXISTS header_logo_url TEXT;
